<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nongming.sunshine.mysql.UserDao">
	<resultMap type="User" id="ResultMap">
		<id column="user_id" property="userId" />
		<result column="user_name" property="userName" />
		<result column="user_nike_name" property="userNikeName" />
		<result column="password" property="password" />
		<result column="user_type" property="userType" />
		<result column="pay_password" property="payPassword" />
		<result column="level" property="level" />
		<result column="integral" property="integral" />
		<result column="telephone" property="telephone" />
		<result column="if_interface" property="ifInterface" />
		<result column="if_net" property="ifNet" />
		<result column="if_login" property="ifLogin" />
		<result column="id_card" property="idCard"/>
		<result column="create_data" property="createData"/>
		<result column="email" property="email"/>
	</resultMap>
	
	<insert id="addUser" parameterType="User" useGeneratedKeys="true" keyProperty="userId">
		ISNERT INTO t_user (user_name,user_nike_name,password,user_type,pay_password,level,integral,telephone,if_interface,if_net,if_login,id_card,create_data,email) 
		VALUES 
		(#{userName},#{userNikeName},#{password},#{userType},#{payPassword},#{level},#{integral},#{telephone},#{ifInterface},#{ifNet},#{ifLogin},#{idCard},#{createData},#{email})
 	</insert>
 	
 	<select id="verifyUser" parameterType="String" resultMap="ResultMap">
 		SELECT user_name FROM t_user WHERE email = #{email}
 	</select>
	
</mapper>